.ifengine__editor-input-outer {
	text-align: center;
}

.ifengine__editor-input-inner {
	text-align: left;
	position: relative;
}

.ifengine__editor-input-inner .ifengine__editor-text-input {
	margin-bottom: 0;
}

.ifengine__editor-input-inner .ifengine__editor-text-input .components-text-control__input {
	margin-bottom: 5px;
}

.ifengine__editor-button {
	margin: 0 auto;
	border: 1px solid black;
}

.ifengine__editor-close-button {
	position: absolute;
	top: -10px;
	right: -5px;
}

.ifengine__editor-input {
	margin-bottom: 24px;
}

.ifengine__editor-controls-container .label {
	font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    display: block;
    margin-bottom: calc(4px * 2);
    padding: 0;
}

.ifengine__editor-number-input .input {
	width: 100%;
}

.ifengine__editor-number-input .input.error {
	border-color: red;
}

.ifengine__editor-toggle {
	margin-bottom: 24px;
}

.ifengine__editor-container {
	min-height: 30px;
}

.ifengine__editor-controls-container .error-text {
	color: red;
	margin-bottom: 20px;
}
