.ifengine__container .ifengine__choices-list {
	padding-left: 0;
}

.ifengine__container ul li {
	list-style-type: none;
}

.ifengine__choice > * {
	margin-top: var(--global--spacing-vertical);
    margin-bottom: var(--global--spacing-vertical);
}

body .is-layout-constrained .ifengine__choice > * + * {
	margin-block-start: calc(2 * var(--wp--custom--gap--baseline));
    margin-block-end: 0;
}
